.sidebar {
  background: #fff;
  padding: 10px;
  height: auto !important;
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: all 0.3s ease;
  z-index: 1000;
}

.sidebar .btn-new {
  background: #fff;
  border: 1px solid #ddd;
  font-weight: 500;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
}
.gap-1 {
  gap: 0.5rem;
}
.btn-new:hover {
  background: #f8f9fa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link {
  color: #333;
  font-size: 14px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
}

.sidebar .nav-link.active {
  background: #e8f0fe;
  border-radius: 20px;
  color: #1967d2;
  font-weight: 500;
}

.sidebar .nav-link i {
  font-size: 18px;
  margin-right: 12px;
  width: 20px;
  text-align: center;
}
.progress {
  height: 6px;
  border-radius: 5px;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    left: -460px;
    position: fixed !important;
    z-index: 1050;
    height: 100vh !important;
    width: 260px !important;
  }

  .sidebar.active {
    left: 0;
  }
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
