/* ==================== ESTILOS GENERALES ==================== */
.space-404 {
    position: relative;
    overflow: hidden;
    min-height: 80vh;
    border-radius: 1rem;
    background: linear-gradient(90deg, rgba(47, 54, 64, 1) 23%, rgba(24, 27, 32, 1) 100%);

    /* Variables para el parallax */
    --astro-x: 0px;
    --astro-y: 0px;
    --moon-x: 0px;
    --moon-y: 0px;
}


/* ==================== LUNA ==================== */
.moon {
    background: linear-gradient(90deg, rgba(208, 208, 208, 1) 48%, rgba(145, 145, 145, 1) 100%);
    position: absolute;
    top: -100px;
    left: -300px;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.5);
}

.moon__crater {
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(90deg, rgba(122, 122, 122, 1) 38%, rgba(195, 195, 195, 1) 100%);
    opacity: 0.6;
}

.moon__crater1 {
    top: 250px;
    left: 500px;
    width: 60px;
    height: 180px;
}

.moon__crater2 {
    top: 650px;
    left: 340px;
    width: 40px;
    height: 80px;
    transform: rotate(55deg);
}

.moon__crater3 {
    top: -20px;
    left: 40px;
    width: 65px;
    height: 120px;
    transform: rotate(250deg);
}

/* ==================== ESTRELLAS ==================== */
.star {
    background: grey;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    opacity: 0.4;
    animation: shimmer 1.5s infinite alternate;
}

@keyframes shimmer {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.7;
    }
}

.star1 {
    top: 40%;
    left: 50%;
    animation-delay: 1s;
}

.star2 {
    top: 60%;
    left: 90%;
    animation-delay: 3s;
}

.star3 {
    top: 10%;
    left: 70%;
    animation-delay: 2s;
}

.star4 {
    top: 90%;
    left: 40%;
}

.star5 {
    top: 20%;
    left: 30%;
    animation-delay: 0.5s;
}

/* ==================== TEXTO DE ERROR ==================== */
.error {
    position: absolute;
    left: 100px;
    top: 400px;
    transform: translateY(-60%);
    color: #f5f6fa;
}

.error__title {
    font-size: 10em;
    font-weight: bold;
}

.error__subtitle {
    font-size: 2em;
}

.error__description {
    opacity: 0.8;
    max-width: 360px;
    font-size: 1rem;
}

/* ==================== BOTONES ==================== */
.error__button {
    min-width: 7em;
    margin-top: 3em;
    margin-right: 0.5em;
    padding: 0.5em 2em;
    border: 2px solid #2f3640;
    background-color: transparent;
    border-radius: 8em;
    color: #dcdde1;
    cursor: pointer;
    transition: 0.2s;
    font-size: 0.85em;
}

.error__button--active {
    background-color: #e67e22;
    border-color: #e67e22;
    color: white;
}

.error__button--active:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.error__button:hover {
    color: #ffffff;
}

/* ==================== ASTRONAUTA ==================== */
.astronaut {
    position: absolute;
    width: 185px;
    height: 300px;
    left: 70%;
    top: 50%;
    transform: translate(calc(-50% + var(--astro-x)),
            calc(-50% + var(--astro-y))) rotate(20deg) scale(1.2);
}


.astronaut__head {
    position: absolute;
    /* Estos valores son para que encaje en el casco que se ve en tu captura */
    top: 20px;
    /* súbelo/bájalo */
    left: 32px;
    /* muévelo a la izquierda/derecha */
    width: 90px;
    height: 90px;
    background: none;
    overflow: visible;
    z-index: 3;
}

.astronaut__head-visor-flare1 {
    background-color: #7f8fa6;
    position: absolute;
    top: 28px;
    left: 40px;
    width: 10px;
    height: 10px;
    border-radius: 2em;
    opacity: 0.5;
}

.astronaut__head-visor-flare2 {
    background-color: #718093;
    position: absolute;
    top: 40px;
    left: 38px;
    width: 5px;
    height: 5px;
    border-radius: 2em;
    opacity: 0.3;
}

.astronaut__backpack {
    background-color: #bfbfbf;
    position: absolute;
    top: 90px;
    left: 47px;
    width: 86px;
    height: 90px;
    border-radius: 8px;
}

.astronaut__body {
    background-color: #e6e6e6;
    position: absolute;
    top: 115px;
    left: 55px;
    width: 70px;
    height: 80px;
    border-radius: 8px;
}

.astronaut__body__chest {
    background-color: #d9d9d9;
    position: absolute;
    top: 140px;
    left: 68px;
    width: 45px;
    height: 25px;
    border-radius: 6px;
}

.astronaut__arm-left1 {
    background-color: #e6e6e6;
    position: absolute;
    top: 127px;
    left: 9px;
    width: 65px;
    height: 20px;
    border-radius: 8px;
    transform: rotate(-30deg);
}

.astronaut__arm-left2 {
    background-color: #e6e6e6;
    position: absolute;
    top: 102px;
    left: 7px;
    width: 20px;
    height: 45px;
    border-radius: 8px;
    transform: rotate(-12deg);
    border-top-left-radius: 8em;
    border-top-right-radius: 8em;
}

.astronaut__arm-right1 {
    background-color: #e6e6e6;
    position: absolute;
    top: 113px;
    left: 100px;
    width: 65px;
    height: 20px;
    border-radius: 8px;
    transform: rotate(-10deg);
}

.astronaut__arm-right2 {
    background-color: #e6e6e6;
    position: absolute;
    top: 78px;
    left: 141px;
    width: 20px;
    height: 45px;
    border-radius: 8px;
    transform: rotate(-10deg);
    border-top-left-radius: 8em;
    border-top-right-radius: 8em;
}

.astronaut__arm-thumb-left {
    background-color: #e6e6e6;
    position: absolute;
    top: 110px;
    left: 21px;
    width: 10px;
    height: 6px;
    border-radius: 8em;
    transform: rotate(-35deg);
}

.astronaut__arm-thumb-right {
    background-color: #e6e6e6;
    position: absolute;
    top: 90px;
    left: 133px;
    width: 10px;
    height: 6px;
    border-radius: 8em;
    transform: rotate(20deg);
}

.astronaut__wrist-left {
    background-color: #e67e22;
    position: absolute;
    top: 122px;
    left: 6.5px;
    width: 21px;
    height: 4px;
    border-radius: 8em;
    transform: rotate(-15deg);
}

.astronaut__wrist-right {
    background-color: #e67e22;
    position: absolute;
    top: 98px;
    left: 141px;
    width: 21px;
    height: 4px;
    border-radius: 8em;
    transform: rotate(-10deg);
}

.astronaut__leg-left {
    background-color: #e6e6e6;
    position: absolute;
    top: 188px;
    left: 50px;
    width: 23px;
    height: 75px;
    transform: rotate(10deg);
}

.astronaut__leg-right {
    background-color: #e6e6e6;
    position: absolute;
    top: 188px;
    left: 108px;
    width: 23px;
    height: 75px;
    transform: rotate(-10deg);
}

.astronaut__foot-left,
.astronaut__foot-right {
    background-color: white;
    position: absolute;
    top: 240px;
    width: 28px;
    height: 20px;
    border-radius: 3px;
    border-top-left-radius: 8em;
    border-top-right-radius: 8em;
    border-bottom: 4px solid #e67e22;
}

.astronaut__foot-left {
    left: 43px;
    transform: rotate(10deg);
}

.astronaut__foot-right {
    left: 111px;
    transform: rotate(-10deg);
}


/* ==================== RESPONSIVE ==================== */

/* Pantallas medianas (tablets, laptops pequeños) */
@media (max-width: 992px) {
    .space-404 {
        min-height: 70vh;
    }

    .error {
        left: 40px;
        top: 320px;
        transform: translateY(-50%);
    }

    .error__title {
        font-size: 6em;
    }

    .error__subtitle {
        font-size: 1.6em;
    }

    .astronaut {
        left: 75%;
        transform: translate(-50%, -50%) rotate(20deg) scale(0.9);
    }

    .moon {
        background: linear-gradient(90deg, rgba(208, 208, 208, 1) 48%, rgba(145, 145, 145, 1) 100%);
        position: absolute;
        top: -100px;
        left: -300px;
        width: 900px;
        height: 900px;
        border-radius: 100%;
        box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.5);
        transform: translate(var(--moon-x), var(--moon-y));
    }

}

/* Pantallas pequeñas (celulares en vertical) */
@media (max-width: 768px) {
    .space-404 {
        min-height: 100vh;
        border-radius: 0;
    }

    .error {
        position: relative;
        left: 0;
        top: 0;
        transform: none;
        padding: 3rem 1.5rem 1rem 1.5rem;
        text-align: center;
    }

    .error__title {
        font-size: 4.5em;
    }

    .error__subtitle {
        font-size: 1.4em;
    }

    .error__description {
        margin: 0 auto;
    }

    .error__button {
        margin-top: 1.5em;
    }

    .astronaut {
        position: relative;
        left: 50%;
        top: 0;
        margin-top: 1rem;
        transform: translate(-50%, 0) rotate(15deg) scale(0.8);
    }

    .moon {
        left: -420px;
        top: -200px;
        width: 750px;
        height: 750px;
    }
}

/* Celulares muy pequeños (≤ 480px) */
@media (max-width: 480px) {
    .error__title {
        font-size: 3.5em;
    }

    .error__subtitle {
        font-size: 1.2em;
    }

    .error__description {
        font-size: 0.9em;
    }

    .astronaut {
        transform: translate(-50%, 0) rotate(15deg) scale(0.7);
    }

    .star1,
    .star2,
    .star3,
    .star4,
    .star5 {
        opacity: 0.3;
    }
}




/* === CABEZA DE CAPIBARA ASTRONAUTA === */
.astronaut__head {
    position: absolute;
    top: 55px;
    /* Ajusta para encajar dentro del traje */
    left: 50px;
    width: 82px;
    height: 82px;
    background: none;
    overflow: visible;
    z-index: 3;
}

.astronaut__head-capibara {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.3));
    animation: floatHead 3s ease-in-out infinite alternate;
}

/* Flotando suave */
@keyframes floatHead {
    from {
        transform: translateY(0px) rotate(1.5deg);
    }

    to {
        transform: translateY(-6px) rotate(-1.5deg);
    }
}

.astronaut__head::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.15), transparent 70%);
    pointer-events: none;
    z-index: 4;
}