/* Estilos específicos para la vista de proveedores POS */

.table#supplierTable td,
.table#supplierTable th {
  vertical-align: middle;
}

.list-group-item-protected {
  cursor: not-allowed;
}

.report-card-suppliers {
  border: 2px solid #ddd;
  max-width: 100%;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
}
