@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap");

body {
  font-family: "Inter", sans-serif !important;
}

.material-half-bg {
  background-color: var(--bs-white) !important;
}

.material-half-bg .cover {
  background-color: var(--bs-primary) !important;
}

/* Estilos para el Stepper (Los pasos 1, 2, 3) */
.step-item {
  position: relative;
  padding-bottom: 30px;
  padding-left: 20px;
}

.step-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 2;
  position: relative;
  background-color: transparent; /* Por defecto transparente */
  border: 2px solid var(--bs-primary); /* Borde dorado/amarillo oscuro */
  color: #5d5d5d;
}

/* Estado Activo (Paso 1) */
.step-active .step-circle {
  background-color: var(--bs-primary);
  color: white;
}

.step-active span {
  font-weight: bold;
  color: #000;
}

/* La línea vertical conectora */
.step-line {
  position: absolute;
  left: 37px; /* Ajustar según posición del círculo */
  top: 40px;
  bottom: 0;
  width: 2px;
  background-color: var(--bs-primary);
  height: 40px; /* Altura de la línea */
}

/* Botón flotante de WhatsApp */
.btn-whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  text-decoration: none;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(37, 211, 102, 0.4);
  }
}

.account-content .account-form .input-group .form-control {
  border-radius: 1.2rem;
  padding: 0.7rem;
  font-size: 1rem;
}

.account-content .account-form .input-group .form-control:focus {
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary), 0.25);
}

.account-content .account-form .input-group .input-group-text {
  border-radius: 1.2rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
}

.account-content .login-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.account-content .login-head img {
  padding: 0.7rem;
  background-color: #ffc400a2;
  width: 5rem;
  border-radius: 50%;
}