@font-face {
  font-family: "Inter";
  /* Ajusta la ruta 'assets/fonts/...' según donde guardaste el archivo */
  src: url("../../../../fonts/POS/inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  /* Esto le dice al navegador que este archivo sirve para cualquier grosor del 100 al 900 */
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Playwrite HU";
  /* Ajusta la ruta 'assets/fonts/...' según donde guardaste el archivo */
  src: url("../../../../fonts/POS/playwritehu/PlaywriteHU-VariableFont_wght.ttf")
    format("truetype-variations");
  /* Esta fuente tiene un rango menor, de 100 a 400 */
  font-weight: 100 400;
  font-style: normal;
}
.material-half-bg {
  background-color: var(--bs-white) !important;
}

.material-half-bg .cover {
  background-color: var(--bs-primary) !important;
}

.login-content .login-box {
  border-radius: 1.5rem;
  min-width: 500px;
  min-height: 500px;
}

.login-content .login-box .login-head {
  border: none;
}

.login-content .login-box .login-form {
  padding: 1.5rem;
}

.login-content .login-box .login-form .login-message {
  margin-bottom: 1rem !important;
  text-align: center;
}

.login-content .login-box .login-form .login-message span {
  color: var(--bs-gray-700);
}

.login-content .login-box .login-form .contacto p {
  color: var(--bs-gray-700);
}

.login-content .login-box .login-form .contacto a {
  color: var(--bs-primary);
}

.login-content .login-box .login-form .contacto a:hover,
.login-content .login-box .login-form .contacto a:focus {
  color: rgba(var(--bs-primary-rgb), 0.75);
}

.login-content .login-box .login-form .login-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.login-content .login-box .login-form .login-head img {
  width: 3rem;
}

.login-content .login-box .login-form .login-head h3 {
  font-family: "Playwrite HU", cursive;
  color: var(--bs-gray-700);
  padding: 0;
  margin: 0;
}

.login-content .login-box .login-form .input-group .input-group-text {
  border-radius: 1.2rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
}

.login-content .login-box .login-form .input-group button {
  border-radius: 1.2rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-color: var(--bs-primary);
  color: var(--bs-primary);
}

.login-content .login-box .login-form .input-group button:hover,
.login-content .login-box .login-form .input-group button:focus {
  background-color: var(--bs-primary);
  color: var(--bs-white);
}

.login-content .login-box .login-form .input-group .form-control {
  border-radius: 1.2rem;
  padding: 0.7rem;
  font-size: 1rem;
}

.login-content .login-box .login-form .input-group .form-control:focus {
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}

.login-content .login-box .login-form .btn-container button {
  border-radius: 1.2rem;
  padding: 0.7rem;
  font-size: 1rem;
  background-color: var(--bs-primary) !important;
  border: none;
  color: var(--bs-white);
}

.login-content .login-box .login-form .btn-container button:hover,
.login-content .login-box .login-form .btn-container button:focus {
  background-color: rgba(var(--bs-primary-rgb), 0.85) !important;
  color: var(--bs-white);
}

/* Trabajamos las media query*/
@media screen and (max-width: 600px) {
  .login-content {
    padding: 1rem;
  }

  .login-content .login-box {
    min-width: 100%;
    /* min-height: 510px; */
  }
}

@media screen and (max-width: 521px) {
  .login-content .login-box {
    min-height: 510px;
  }
}
